<footer>
    <div class="container">
        <h2>{{ site.title | escape }}</h2>
        <nav>
            <ul class="footer-social-media">
                {% if site.github_username %}
                <li>
                    {% include icon-github.html username=site.github_username %}
                </li>{% endif %}
                {% if site.twitter_username %}
                <li>
                    {% include icon-github.html username = site.twitter_username %}
                </li>{% endif %}
            </ul>
        </nav>
        <div class="footer-info">
            <p>{{ site.description | escape }}</p>
        </div>
    </div>
</footer>
